QListWidget {
  font-family: Calibri; 
  font-size: 20px; 
  padding: -1px; 
  margin 0;
} 

QListWidget::item {
  border-bottom: 1px solid #AAAAAA; 
  color: #000000; 
  height: 50px;
} 

QListWidget::item::selected::active {
  background-color: #3399FF;
  color: #FFFFFF;
} 

QListWidget::item::hover {
  background-color: #3399FF;
  color: #FFFFFF;
}